extends layout

block content
  section.menu
    h1 Our Menu

    h2 Signature Donuts
    .menu-grid
      .menu-item
        h3 Classic Glazed
        p Light, fluffy, and perfectly glazed
        span.price $2.50

      .menu-item
        h3 Maple Bacon Bar
        p Maple glaze topped with crispy bacon
        span.price $3.75

      .menu-item
        h3 Boston Cream
        p Bavarian cream with chocolate ganache
        span.price $3.50

      .menu-item
        h3 Blueberry Cake
        p Cake donut with fresh blueberries
        span.price $3.25

      .menu-item
        h3 Cinnamon Sugar Twist
        p Hand-twisted and coated in cinnamon sugar
        span.price $2.75

      .menu-item
        h3 Strawberry Frosted
        p Strawberry glaze with sprinkles
        span.price $3.00

      .menu-item
        h3 Chocolate Old Fashioned
        p Sour cream donut with chocolate glaze
        span.price $3.25

      .menu-item
        h3 Lemon Poppy Seed
        p Lemon glaze with poppy seeds
        span.price $3.50

      .menu-item
        h3 Dulce de Leche
        p Caramel cream filled donut
        span.price $3.75

      .menu-item
        h3 PB & J
        p Peanut butter glaze with raspberry filling
        span.price $3.75

    h2 Donut Holes
    p Half Dozen $4.50 | Dozen $7.99
